.top-bar-header p {
  color: #fff;
}

.slider-bg {
  background-size: cover; /* Scale the image to cover the entire div */
  background-repeat: no-repeat; /* Prevent image from repeating */
  width: 100%; /* Make the div span the full width of its container */
  height: 600px; /* Set the desired height */
}

.slider-details {
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 30%;
  text-align: center;
  height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 30%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.carousel-indicators {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 28%;
  z-index: 2;
  justify-content: center;
  padding: 0;
  margin-right: 0;
  margin-bottom: 1rem;
  margin-left: 0;
  list-style: none;
  height: 600px;
}

.carousel-item {
    background-color: red;
}
.carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.transparent-navbar {
    background-color: transparent;
}

/* Custom CSS for the submenu items */
.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.9); /* Adjust the background color and transparency */
}


.btn-iitm-primary {
    background-color: #d1a411;
    color: #fff;
    min-width: 160px;
}

.btn-iitm-primary:hover {
    color: #fff;
    background-color: #D3AF36;
}