.top-bar-header p {
  color: #fff;
}

.slider-bg {
  background-size: cover; /* Scale the image to cover the entire div */
  background-repeat: no-repeat; /* Prevent image from repeating */
  width: 100%; /* Make the div span the full width of its container */
  height: 600px; /* Set the desired height */
}

.slider-details {
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 30%;
  text-align: center;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 30%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.carousel-indicators {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 28%;
  z-index: 2;
  justify-content: center;
  padding: 0;
  margin-right: 0;
  margin-bottom: 1rem;
  margin-left: 0;
  list-style: none;
  height: 600px;
}

.carousel-item {
  background-color: red;
}
.carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.transparent-navbar {
  background-color: transparent;
}

/* Custom CSS for the submenu items */
.dropdown-menu {
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Adjust the background color and transparency */
}

.btn-iitm-primary {
  background-color: #d1a411;
  color: #fff;
  min-width: 160px;
}

.btn-iitm-primary:hover {
  color: #fff;
  background-color: #d3af36;
}

.academics-section {
  position: relative;
  background-image: url("/assets/img/banner-image.jpg");
  background-size: cover; /* Scale the image to cover the entire div */
  background-repeat: no-repeat; /* Prevent image from repeating */
  width: 100%; /* Make the div span the full width of its container */
  height: 640px; /* Set the desired height */
}

.overlay-academics {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 135, 83, 0.8);
}

.hr-theme-slash-2 {
  display: flex;
}
.hr-theme-slash-2 .hr-line {
  width: 100%;
  position: relative;
  margin: 15px;
  border-bottom: 1px solid #000;
}
.hr-theme-slash-2 .hr-icon {
  position: relative;
  top: 3px;
  color: #ff0000;
}

.bordered-div {
  border-left: 2px solid #d3af36; /* Specify the color of the left border */
  padding: 10px; /* Add padding for spacing */
}

.btn-apply-now {
    background-color: #040203;
    color: #fff;
    padding: 14px 30px;
    border-radius: 0;
    border: 1px solid #D3AF36;
}

.btn-apply-now:hover {
    background-color: #D3AF36;
}

.link-btn-light {
text-decoration: none;
    color: #266940;
    font-weight: bold;
}

.academics-section .bg-dark {
    color: #fff;
}

.academics-section .bg-dark .link-btn-light {
    color: #F5BB00 !important;
}

.academics-section .card h5 i {
    color: #F5BB00;
}





/* events
 */


.row-height{
    height: 50vh;

}
.event-bg-img{
background-image: url("/image-folder/Image/event-lg.jpg");

background-position: center;
background-size:cover;
background-attachment: scroll;
background-repeat: no-repeat;
margin-left:5px;
}

.back-color-event{
    background-color: #074a1f;
    /* border: 3px solid red; */
    display: d-flex;
    align-items: center;
}

.event-font{
    margin: 0;
    color: white;
    font-weight:bold;
}

.event-font-below{
    margin: 0;
    color: white;

}

/* up coming events */
.card-sticker{
    background-color: #074a1f;
    color:#d1a411;
    font-weight: bold;
    outline: 2px solid white;
    width: 50px;
    padding: 5px;
    position: absolute;
    top: 100px;

}